requests
requests[socks]
bs4
user_agent

requests_toolbelt
telethon
tenacity
pyrogram
tgcrypto
aiohttp
yarl
pyrogram
Pysocks
aiohttp_socks
Flask==2.2.2
gunicorn==20.1.0
aiohttp==3.8.1
